$Title-Font: "DM Serif Text";
$P-Font: "DM Sans";
$Home-banner-bg: "rgba(245, 248, 255, 1)";
$Plan-Section-bg: "#FFFFFF";
$Navbar-bg: "#FFFFFF";
$Footer-bg: "#EEEEEE";

*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

html,body{
      overflow-x: hidden;
}